{% form_theme edit_form 'form/fields.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}

    <div class="row">
        <div class="col-xs-2">
            {{ form_errors(edit_form.isActive) }}
            {{ form_widget(edit_form.isActive, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
        <div class="col-lg-10">
            <div class="alert alert-info">Setting an address as "not active" means that rescue workers will not search for you at this location.</div>
        </div>
    </div>

    <div class="row" id="editAddressOverlayGeocodingEnabled">
        <div class="col-xs-2">
            {{ form_errors(edit_form.geocodingEnabled) }}
            {{ form_widget(edit_form.geocodingEnabled, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
        <div class="col-lg-10">
            <div class="alert alert-info">{{ 'address_edit_geocoding_info' | trans }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            {{ form_label(edit_form.address.street.name) }}
            {{ form_errors(edit_form.address.street.name) }}
            {{ form_widget(edit_form.address.street.name, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(edit_form.address.houseNr) }}
            {{ form_errors(edit_form.address.houseNr) }}
            {{ form_widget(edit_form.address.houseNr, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            {{ form_label(edit_form.address.street.zipcode.zipcode) }}
            {{ form_errors(edit_form.address.street.zipcode.zipcode) }}
            {{ form_widget(edit_form.address.street.zipcode.zipcode, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(edit_form.address.street.zipcode.city) }}
            {{ form_errors(edit_form.address.street.zipcode.city) }}
            {{ form_widget(edit_form.address.street.zipcode.city, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            {{ form_label(edit_form.floor) }}
            {{ form_errors(edit_form.floor) }}
            {{ form_widget(edit_form.floor, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(edit_form.address.street.zipcode.country) }}
            {{ form_errors(edit_form.address.street.zipcode.country) }}
            {{ form_widget(edit_form.address.street.zipcode.country, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            {{ form_label(edit_form.absenceFrom) }}
            {{ form_errors(edit_form.absenceFrom) }}
            {{ form_widget(edit_form.absenceFrom, {'attr': {'class': 'form-control textBox_withMarginBottom datepicker datepickerAbsenceFrom'}}) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(edit_form.absenceTo) }}
            {{ form_errors(edit_form.absenceTo) }}
            {{ form_widget(edit_form.absenceTo, {'attr': {'class': 'form-control textBox_withMarginBottom datepicker datepickerAbsenceFrom'}}) }}
        </div>
    </div>

    {{ form_label(edit_form.remarks) }}
    {{ form_errors(edit_form.remarks) }}
    {{ form_widget(edit_form.remarks, {'attr': {'class': 'form-control textBox_withMarginBottom'}}) }}

    <div style="display: none;">
        {{ form_rest(edit_form) }}
    </div>

    {{ form_end(edit_form) }}
{% endblock %}
