{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    <h1>Potential Identity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ potentialIdentity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ potentialIdentity.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('potentialidentity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('potentialidentity_edit', { 'id': potentialIdentity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
